*{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: lavender;
}

.sobre, .text-block{
    display: flex;
    display:inline;
    flex-direction: column;
}

header{
    display: flex;
    align-items: flex-start;
    background-color:#132235;
    padding: 45px;
    margin: 3%;
    border-radius: 10px;
    justify-content:space-between;
    flex-wrap:wrap;
}

picture img{
    max-width: 15em;
}

.div-header{
    display: flex; 
    justify-content:right;
}

header a, input, select, button{
    display: flex;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

header a{
color:#fff
}

input,select,button{
    border-radius: 30px;
    padding: 10px;
    width: 100%;
}

.sec-banner{
    max-width: 100%;
    max-height: 100%;
    margin: 3%;
    text-align : center;
}

.img-banner{
  display: flex;
  border-radius:10px;
  max-width: 100%;
  max-height: 100%;
  text-align : center;
}

.sec-banner figcaption {
    position: absolute;
    top: 580px;
    right: 110px;
    font-size: 40px;
    color:white;
    text-shadow: 0px 0px 5px black;
}

.opportunity {
    display: flex;
    align-items: flex-start;
    background-color:#dde2e8;
    padding: 45px;
    margin: 3%;
    border-radius: 10px;
    flex-wrap:wrap;
}

.about{
    display: flex;
    align-items: flex-start;
    background-color:#62c4c0;
    padding: 45px;
    margin: 3%;
    border-radius: 10px;
    flex-wrap:wrap;
}
.history-logo{
    display: flex;
    flex-direction: inline;
    justify-content: space-between;

}
.history-louy{
 display: flex;
 display: block;
 padding: 10px;
}

.pho-about{
    width: 100%;
    justify-items: auto;
    border-radius:15px;
}

form, .sobre-txt{
    display: flex;
    width: 50%;
}

.frm-search{
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;
}

.depoiments{
    display: flex;
    width: 50%;
    text-align: center;
}
.pho-depoiments {
    width : 15em;
    vertical-align: middle;
}

p{
    text-align: justify;
}

@media screen and (min-width: 375px) and (max-width: 667px) {
    body {
      background-color: lightgreen;
    }
    .frm-search{
        width: 100%;   
    }
    .depoiments, .sobre-txt{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .pho-depoiments {
        width: 100%;
        justify-items: auto;
    }
    .pho-about{
        width: 100%;
        justify-items: auto;
        border-radius:15px;
    }
    .sec-banner figcaption {
        position: absolute;
        top: 400px;
        right: 50px;
        font-size: 25px;
        color:white;
        text-shadow: 0px 0px 5px black;
      }
      .nav-btn{
        display: none;
      }
      .history-logo{
        display: flex;
        flex-direction: column-reverse;
        max-width: 100em;
    }

  }
  
  