*{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body {
    background-color: lavender;
  }
header{
    display: flex;
    align-items: flex-start;
    background-color:#132235;
    padding: 45px;
    margin: 3%;
    border-radius: 10px;
    justify-content:space-between;
    flex-wrap:wrap;
}
picture img{
    max-width: 15em;
}
.div-header{
    display: flex; 
    justify-content:right;
}
header a, input, select, button{
    display: flex;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}
header a{
color:#fff
}

input,select,button{
    border-radius: 30px;
    padding: 10px;
    width: 100%;
}

.img-banner{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 3%;
}

.opportunity {
    display: flex;
    align-items: flex-start;
    background-color:#dde2e8;
    padding: 45px;
    margin: 3%;
    border-radius: 10px;
    flex-wrap:wrap;
}
form{
    display: flex;
    width: 50%;
}
.frm-search{
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;
}
.depoiments{
    display: flex;
    width: 50%;
    text-align: center;
}
.pho-depoiments {
    width : 15em;
    vertical-align: middle;

}
p{
    text-align: justify;
}

@media screen and (min-width: 400px) and (max-width: 800px) {
    body {
      background-color: lightgreen;
    }
    .frm-search{
        width: 100%;   
    }
    .depoiments{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .pho-depoiments {
        width: 100%;
        justify-items: auto;
    }
  }
  
  