*{
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: lavender;
}
.about-txt{
    margin: 1em;
}

.sobre, .text-block{
    display: flex;
    display:inline;
    flex-direction: column;
}

header{
    display: flex;
    align-items: flex-start;
    background-color:#132235;
    padding: 4px;
    margin: 3%;
    border-radius: 10px;
    justify-content:space-between;
    flex-wrap:wrap;
    top: 0px;

}

picture img{
    max-width: 15em;
}

.div-header{
    display: flex; 
    justify-content:right;
}

header a, input, select, button{
    display: flex;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

header a{
color:#fff
}

input,select,button{
    border-radius: 30px;
    padding: 10px;
    width: 100%;
}

.sec-banner{
    max-width: 100%;
    max-height: 100%;
    margin: 3%;
    text-align : center;
}

.img-banner{
  border-radius:10px;
  max-width: 100%;
  max-height: 100%;
}

.sec-banner figcaption {
    position: absolute;
    top: 580px;
    right: 110px;
    font-size: 40px;
    color:white;
    text-shadow: 0px 0px 5px black;
}

.opportunity, .display-product {
    display: flex;
    align-items: flex-start;
    background-color:#dde2e8;
    padding: 40px;
    margin: 3%;
    border-radius: 10px;
    flex-wrap:wrap;
}

.about{
    display: flex;
    align-items: flex-start;
    background-color:#62c4c0;
    padding: 40px;
    margin: 3%;
    border-radius: 10px;
    flex-wrap:wrap;
    justify-content: space-between;
}
.history-logo{
    display: flex;
    flex-direction: inline;
    justify-content: space-between;

}
.history-louy{
 display: flex;
 display: block;
 padding: 10px;
}

.pho-about{
    width: 100%;
    justify-items: auto;
    border-radius:15px;
}

form, .sobre-txt{
    display: flex;
    width: 50%;
}

.frm-search{
    display: flex;
    align-items: flex-start;
    flex-wrap:wrap;
}

.depoiments{
    display: flex;
    width: 50%;
    text-align: center;
}
.pho-depoiments {
    width : 15em;
    vertical-align: middle;
}

p{
    text-align: justify;
}

/* /////////////////////lUIZ */
.display-product{
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
    padding: 40px;
    margin: 3%;
    border-radius: 10px;
   
}
.Fachadas{
    display: flex;
    flex-direction: column;
    margin: 3vh;
    max-width: 50vh;
}
.Img{
    width: 100%;
    border-radius: 10px;
}
h2{
    margin: 2vh 0vh 0vh 0vh;
}
p{
    margin: 0.5vh;
}

/* ///////////////////// lUIZ/ */
/* ///////////////////// JUCI/ */
.vantagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    align-items:center;
    padding: 40px;
    margin: 1em;
    border-radius: 10px;
 }
 .cards{
     max-width: 10vh; 
 }
 .cards-vantagens{
     max-width: 40vh;
 }
 .parceiros{
     display: flex;  
     flex-wrap: wrap;
     align-items: center;
     align-content: center;
     margin: 3%;
     justify-content: space-between;
 }
 .img{
     max-width: 50vh;
     display: flex;
     justify-content: space-around;
    
 }
 footer{
   display: flex;
   background-color: aqua;
   flex-wrap: wrap;
   align-items: center;
   align-content: center;
   justify-content: space-between;
   max-width: 100%;
 }
 .Icon-Whatapps{
     max-width: 10vh;
     display: flex;
     justify-content: space-around;
 }
 .paragrafo{
     margin: 50px;
     margin-top: auto;
     
 }
 .button{
     max-width: 5vh;
     max-height: 3vh;
     display: flex;
     margin-left: 10px;
     margin-top: 15px;
 }
 .contato{
     
     display: flex;
     margin-left: 10px;
     margin-top: 15px;
 }
 .Redes-sociais{
    display: flex;
    max-width: 10vh;
    position: relative;
    right: 390px;
    margin-top: 80px;
 
 }

/* ///////////////////// FIM JUCI/ */

@media screen and (min-width: 375px) and (max-width: 667px) {
    body {
      background-color: #dde2e8;
    }
    .opportunity, .display-product, .about, .vantagens, .parceiros {
        padding: 4px;
    }
    .vantagens, .parceiros {
        justify-content: space-around;
    }
    .cards-vantagens {
        max-width: 100%;
        margin: 1em;
    }
    .frm-search{
        width: 100%;   
    }
    .depoiments, .sobre-txt{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 4px;
    }
    .pho-depoiments {
        width: 100%;
        justify-items: auto;
    }
    .sec-banner figcaption {
        position: absolute;
        top: 280px;
        right: 10px;
        font-size: 25px;
        color:white;
      }
    
      .nav-btn{
        display: none;
      }
      .history-logo{
        display: flex;
        flex-direction: column-reverse;
        max-width: 100em;
    }
    .display-product{
        background-color:#dde2e8;
        padding: 4px;
    }
    .pho-about{
        width: 100%;
        justify-items: auto;
        border-radius:15px;
    }
    

  }
  
  